
/* transparent images */
/* https://logodix.com/white-transparent-apple */

*{ margin: 0; padding: 0;}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Bree Serif', serif;
    position: relative;
    /* background-color: rgb(168, 168, 168); */
}

/* seudo element through background */
.navbar::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10vh;
    background: linear-gradient(white,black);
    opacity: 0.5;
    z-index: -1;
}
.logo img{
    width: 60px;
    padding: 0px 0 0 35px;
}
ul{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
   align-items: center;
    list-style: none;      
}
li a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
    padding: 0px 13px;
    border-radius: 9px;
}
li a:hover{
    background-color: white;
    color: black;
}
.first{
    width: 100%;
     height:300px;
    /* left: 0; top: 0; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    position: relative;
    
    
}
.first::before{
    position: absolute;
    content: "";
    /* top: 0; left:0; */
    width: 100%;
    height: 300px;
    background: url(images/top.webp) no-repeat center center/cover;
   
    z-index: -1;
}
.first h1{
    font-size: 2rem;
    padding-bottom: 15px;
    font-family: 'Bree Serif', serif;
}
.first p{
    line-height: 1.3;
    font-size: 1.4rem;
    font-family: 'Bree Serif', serif;
}
.first a{
    text-decoration: none;
    color: white;
    background-color: rgb(253, 210, 68);
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 0 20px;
    border: white solid 2px;
    border-radius: 15px;
}
.first a:hover{
    background-color: white;
    color: black;
}
.section-2{
    
    width: 100%;
    height: 71vh;
    font-family: 'Bree Serif', serif;
    position: relative;
    
    
}
.section-2::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 71vh;
    background: url(images/kotmeer.webp);
    z-index: -1;
    opacity: 0.6;
}
.section-2 h1{
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    /* margin-left: 45%; */
    padding-top: 30px;
    text-align: center;
     /* display: block karne ki zarurat nahi text align ke liye h1 element ko''paddning 0 rahna chahiye */
}

.ordering{
    margin-top: 50px;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
    
    
}
.a{
    border: 2px solid orangered;
    border-radius: 15px;
    min-height: 335px;
    background-color: rgb(240, 240, 240);
    margin-left: 20px;
    padding-bottom: 15px;
    
    
    
}
.a img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;

}
img{
    max-width: 100%;
}
.a h2{
    font-size: 1.5rem;
    color: orchid;
    text-align: center;
    padding-top: 5px;
}
.a p{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: justify;
}
/* ////////////////////// */
.section3{
    /* background-color: cornsilk; */
    height: 300px;
    position: relative;
}
.section3::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 300px;
    background: url(images/olive-oil-968657_960_720.webp);
    z-index: -1;
    opacity: 0.5;
}
.logos5{
    width: 100%;
    height: 180px;
    margin-top: 45px;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logosimg{
 width: 118px; 
 height: 100px;
 padding-left: 30px;
 border-radius:150px ;
 /* margin-left: auto;   */
 /* margin-right: auto; */
}

.section3 h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    padding-top: 20px;
    
}
.section4{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Bree Serif', serif;
  
    
}
.section4::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(images/contact.jpg);
    z-index: -1;
}
.section4 h1{
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    
    

}
input,textarea{
    width: 100%;
    padding: 0.3rem 0;
    border-radius: 8px;
    border: none;
    background: linear-gradient(grey,white);
    font-size: 1.5rem;
    color: rgb(145, 12, 145);
}
.contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 28px;
}
label{
    font-size: 1.2rem;
    font-weight: 550;
}
.name{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
    font-weight: 600;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(36, 163, 36),white);
}
/* /////////////////////RESPONSIVE/////////// */

/* @media screen and (max-width:768px) {
    .first p{
        font-size: 1.4rem;
        text-align: center;
    }
    .section-2{
        height: 47vh;
    }
    .ordering{
        margin-left: 55px;
    }
    .section-2 h1{
        margin-left: 39%;
    }
    .ordering{
        display: flex;
        margin-left: 51px; 
    }
    .logosimg{
        width: 98px;
        margin-left: 20px;
    }
    .logos5{
   
        margin-left: -25px;
        margin-top: 20px;
        
    }


}
 */



